  h1 {
    color: blue;
  }
  #pdf {
    background-color: lightblue;
    color: black;
    border: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
p:first-of-type::first-letter {
  font-size: 2em;
  color: rgb(82, 215, 208);
}
p:not(:first-of-type) {
  text-indent: 2em; 
}
header{
  text-align: center;
}
@media screen and (max-width: 600px) {
  
  body {
      font-size: 14px; 
  }

  h1 {
      font-size: 24px; 

  }
header{width: 100%;}

section{width: 100%;}
}
section{
  text-align: center;
}
