body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
    color: blue;
    padding-top: 50px;
  }

header, main {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}
main {
  text-align: justify;
}

#pdf {
    background-color: lightblue;
    color: black;
    border: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
p:first-of-type::first-letter {
  font-size: 2em;
  color: rgb(82, 215, 208);
}
p:not(:first-of-type) {
  text-indent: 2em; 
}
header{
  text-align: center;
}
section{
  text-align: center;
}
.flexlayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexlayout img {
  max-width: 100%;
  height: auto;

}
.rflexlayout img {
  max-width: 50%;
  height: auto;

}
@media screen and (min-width: 600px) {
  
  body {
      font-size: 14px; 
  }

  h1 {
      font-size: 24px; 

  }
  header, main {
    width: 100%;
}
section{width: 100%;}
}

