body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*footer*/
.box{
  width: 960px;
  height:250px;
  padding:20px;
  margin: 100px auto;
  box-shadow: 10px rgb(57, 208, 238) ;
  border: 10px black;

  background-image: url(footer.png);
  background-size: cover;

}
h1 {
    color: blue;
    padding-top: 50px;
  }
#Fonttest{
  width: 100%;
  max-width: 960px;
  color: antiquewhite;
}

header, main {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Trirong", serif;

}
main {
  text-align: justify;
}

#pdf {
    background-color: lightblue;
    color: black;
    border: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
p:first-of-type::first-letter {
  font-size: 2em;
  color: rgb(82, 215, 208);
}
p:not(:first-of-type) {
  text-indent: 2em; 
}
header{
  text-align: center;
}
section{
  text-align: center;
}
.flexlayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexlayout img {
  max-width: 100%;
  height: auto;

}
.rflexlayout img {
  max-width: 50%;
  height: auto;

}
@media screen and (min-width: 600px) {
  
  body {
      font-size: 14px; 
  }

  h1 {
      font-size: 24px; 

  }
  header, main {
    width: 100%;
}
section{width: 100%;}
}
/* Print Style sheet*/
@media print {
  *{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav, a, img{
    display: none;
  }

}
